<template>
  <div class="mx-2">
    <h2 class="md=block text-center text-lg">List Gunung Berapi</h2>
    <ul>
      <li v-for="(volcano, index) in volcanoes" :key="index" class="my-2 items-center">
        <div class="border border-red-400 p-4 bg-white text-black">
          <p>{{ volcano.nama }} - {{ volcano.bentuk }}</p>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      volcanoes: []
    }
  },

mounted(){
  this.fetchVolcanoes();
  console.log("mounted")
},
  methods: {
  fetchVolcanoes() {
    axios.get('https://indonesia-public-static-api.vercel.app/api/volcanoes')
      .then(response => {
        this.volcanoes = response.json().data.slice(0, 10);
        response.json()
      })
      .catch(error => {
        console.log(error);
      });
  }
}
}
</script> 